/*-----------------------------------*\
  #O-LOGO
\*-----------------------------------*/


/*-----------------------------------*\
  #C-HEADER
\*-----------------------------------*/


/*-----------------------------------*\
  #C-HERO
\*-----------------------------------*/
.c-hero__mobile-img {
  margin-bottom: 4.75rem;
}
@media (min-width: 770px) {
  .c-hero__mobile-img {
    display: none;
  }
}

@media (max-width: 770px) {
  .c-hero__left,
  .c-hero__right {
    display: none;
  }
}

@media (min-width: 770px) {
  .c-hero__left {
    background-image: url('../../images/illustration-hero-left.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.c-hero__content {
  padding-inline: 2.4rem;
  text-align: center;
  background-image: url("../../images/bg-hero-squiggle.svg");
}
@media (min-width: 770px) {
  .c-hero__content {
    padding-inline: 0;
    align-self: center;
  }
}

.c-hero__title {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 2.4rem;
  margin-top: 1.7rem;
  padding-inline: 2rem;
}
@media (min-width: 500px) {
  .c-hero__title {
    padding-inline: 6rem;
  }
}
@media (min-width: 600px) {
  .c-hero__title {
    padding-inline: 8rem;
  }
}
@media (min-width: 700px) {
  .c-hero__title {
    padding-inline: 10rem;
  }
}
@media (min-width: 770px) {
  .c-hero__title {
    padding-inline: 2rem;
  }
}
@media (min-width: 1100px) {
  .c-hero__title {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

.c-hero__title span {
  color: var(--color1);
}

.c-hero__desc {
  line-height: 2.5rem;
  margin-bottom: 3.2rem;
}

@media (min-width: 770px) {
  .c-hero__right {
    background-image: url('../../images/illustration-hero-right.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/*-----------------------------------*\
  #C-ABOUT
\*-----------------------------------*/
.c-about__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
}
@media (min-width: 700px) {
  .c-about__items {    
    padding-inline: 7.4rem;
  }
}
@media (min-width: 1100px) {
  .c-about__items {    
    flex-direction: row;
    padding-inline: 0;
    gap: 3rem;
    height: 38.3rem;
  }
}


.c-about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
@media (min-width: 700px) {
  .c-about__item {    
  flex-direction: row;
  gap: 5.5rem;
  }

  .c-about__item:nth-child(even) {
    align-self: flex-start;
  }

  .c-about__item:nth-child(odd) {
    align-self: flex-end;
  }
}
@media (min-width: 1100px) {
  .c-about__item {    
  flex-direction: column;
  gap: 4.8rem;
  align-items: start;
  }

  .c-about__item:nth-child(odd) {
    align-self: flex-start;
  }

  .c-about__item:nth-child(even) {
    align-self: flex-end;
  }
}

.c-about__img-box {
  width: 12rem;
  height: 12.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  border-radius: 4.5rem;
}
@media (min-width: 1100px) {
  .c-about__img-box {    
  width: 16rem;
  height: 16.4rem;
  }
}

.c-about__item:nth-child(1) .c-about__img {
  width: 6.6rem;
  height: 8rem;
}
@media (min-width: 1100px) {
  .c-about__item:nth-child(1) .c-about__img {
    width: 8.8rem;
    height: 10.6rem;
  }
}

.c-about__item:nth-child(2) .c-about__img {
  width: 5.6rem;
  height: 6.7rem;
}
@media (min-width: 1100px) {
  .c-about__item:nth-child(2) .c-about__img {
    width: 7.4rem;
    height: 8.9rem;
  }
}

.c-about__item:nth-child(3) .c-about__img {
  width: 6rem;
  height: 7.1rem;
}
@media (min-width: 1100px) {
  .c-about__item:nth-child(3) .c-about__img {
    width: 8rem;
    height: 9.4rem;
  }
}

.c-about__item:nth-child(4) .c-about__img {
  width: 7.8rem;
  height: 5.6rem;
}
@media (min-width: 1100px) {
  .c-about__item:nth-child(4) .c-about__img {
    width: 10.4rem;
    height: 7.4rem;
  }
}

.c-about__content {
  text-align: center;
  max-width: 32.7rem;
}
@media (min-width: 600px) {
  .c-about__content {
    text-align: start;
  }
}

.c-about__title {
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  line-height: 2.459rem;
}
@media (min-width: 1100px) {
  .c-about__title {
    margin-bottom: 2.3rem;
  }
}

/*-----------------------------------*\
  #C-PLANS
\*-----------------------------------*/
.c-plans__title-box {
  text-align: center;
  max-width: 54rem;
  margin-inline: auto;
  margin-bottom: 5.6rem;
}
@media (min-width: 1100px) {
  .c-plans__title-box {
    margin-bottom: 7.2rem;
  }
}

.c-plans__title {
  font-size: 2.4rem;
  line-height: 3.3rem;
  margin-bottom: 2.7rem;
}
@media (min-width: 770px) {
  .c-plans__title {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }
}

.c-plans__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}
@media (min-width: 1100px) {
  .c-plans__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}

.c-plans__card {
  padding: 4.8rem 3rem;
  position: relative;
  max-width: 33.7rem;
  background-color: var(--color2);
  color: #FFFFFF;
  border-radius: 0.8rem;
}
@media (min-width: 770px) {
  .c-plans__card {
    padding: 4.6rem 3.8rem;
    position: relative;
  }
}
.c-plans__img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.c-plans__card-title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1.9rem;
  color: inherit;
}

.c-plans__desc {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.4rem;  
}

.c-plans__price {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.5rem;
  margin-bottom: 1.9rem;
  display: flex;
  align-items: center;
}

.c-plans__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.c-plans__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.532rem;
}

.c-plans__card--light {
  background-color: var(--color1);
  color: var(--neutral2);
  padding: 6.1rem 3.8rem;
}
.c-plans__card--light .c-plans__price::after {
  content: '/ month';
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-left: 0.75rem;
}

/* criar um componente modificado para o segundo card, pois o padding-block é maior, alem da cor */

/*-----------------------------------*\
  #C-NEWSLETTER
\*-----------------------------------*/
.c-newsletter__container {
  padding-inline: 2.4rem;
  margin-inline: auto;
  max-width: 47.6rem;
}
@media (min-width: 770px) {
  .c-newsletter__container {
    padding-inline: 0rem;
  }
}

.c-newsletter__title {
  text-align: center;
  padding-inline: 6rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
@media (min-width: 1100px) {
  .c-newsletter__title {
    padding-inline: 0rem;
    margin-bottom: 4.2rem;
    font-size: 3.2rem;
    line-height: 4.3rem;
  }
}

@media (min-width: 770px) {
  .c-newsletter__form {
    display: grid;
    grid-template-areas: 
      'input button'
      'error   .   ';
    grid-template-columns: 32rem 14rem;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.6rem;
  }
}

.c-newsletter__input {
  grid-area: input;
  padding: 0 1.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  background-color: var(--color2);
  font-weight: 800;
  line-height: 2.5rem; 
  color: var(--neutral1);
  margin-bottom: 2.4rem;
}

.c-newsletter__form.error .c-newsletter__input {
  margin-bottom: 0rem;
  border: 2px solid var(--color4);
}

.c-newsletter__input::placeholder {
  font-weight: 800;
}

.c-newsletter__error {
  grid-area: error;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: var(--color4);
  padding: 0.6rem 1.8rem;
  display: none;
}

.c-newsletter__form.error .c-newsletter__error {
  display: block;
}

.c-newsletter__button {
  grid-area: button;
  background-color: var(--color1);
  padding: 0 1.8rem;
  border-radius: 2.4rem;
  font-weight: 800;
  color: var(--color2);
  height: 4.8rem;
  width: 100%;
}

.c-newsletter__button:hover {
  background-color: transparent;
  border: 2px solid var(--color1);
  color: var(--neutral1);
}