/*-----------------------------------*\
  #L-HEADER
\*-----------------------------------*/


.l-header .l-container {
    padding-block: 4rem;
    display: flex;
    justify-content: center;
}
@media (min-width: 770px) {
    .l-header .l-container {
        justify-content: flex-start;
        padding-block: 4.8rem;   
        padding-inline: 4rem;     
    }
}
@media (min-width: 1100px) {
    .l-header .l-container {        
        padding-block: 8rem;   
        padding-inline: 0;
    }
}



/*-----------------------------------*\
  #L-CONTAINER
\*-----------------------------------*/
.l-container {
    max-width: 110rem;
    padding-inline: 2.4rem;
    margin-inline: auto;
}
@media (min-width: 1100px) {
    .l-container {
        padding-inline: 0;
    }
}

/*-----------------------------------*\
  #L-HERO
\*-----------------------------------*/
.l-hero {
    padding-top: 1.7rem;
    margin-bottom: 14.4rem;
}
@media (min-width: 770px) {
    .l-hero {
        padding-top: 1.7rem;   
        display: grid; 
        grid-template-columns: 1fr 45.7rem 1fr;
        grid-template-rows: 44.4rem;
        margin-bottom: 10.9rem;
    }
}
@media (min-width: 1100px) {
    .l-hero {
        padding-top: 3.5rem; 
        grid-template-columns: 1fr 54rem 1fr;
        grid-template-rows: 35.7rem;
        margin-bottom: 20.2rem;
    }
}

/*-----------------------------------*\
  #L-ABOUT
\*-----------------------------------*/
.l-about {
    margin-bottom: 14.4rem;
}
@media (min-width: 1100px) {
    .l-about {
        margin-bottom: 20.2rem;
    }
}

/*-----------------------------------*\
  #L-PLANS
\*-----------------------------------*/
.l-plans {
    margin-bottom: 14.4rem;
}
@media (min-width: 770px) {
    .l-plans {
        margin-bottom: 11.9rem;
    }
}
@media (min-width: 1100px) {
    .l-plans {
        margin-bottom: 15rem;
    }
}

/*-----------------------------------*\
  #L-NEWSLETTER
\*-----------------------------------*/
.l-newsletter {
    background-image: url('../../images/bg-footer-squiggle.svg');  
    background-size: contain;  
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 16.4rem;
}
@media (min-width: 770px) {
    .l-newsletter {
        margin-bottom: 10.5rem;
    }
}
@media (min-width: 1100px) {
    .l-newsletter {
        margin-bottom: 11.7rem;
    }
}